@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: Arial, sans-serif;
  /* ... other global styles ... */
}

/* Apply styles based on scroll position */
.scroll-animation {
  opacity: 0;
  transition: opacity 0.5s;
}

/* When element is in viewport, add animation */
.scroll-animation.in-viewport {
  opacity: 1;
}
